.team {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #f4f5fb;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  margin-left: 50px;
}

.text {
  max-width: 530px;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.7;
}

.list {
  padding-left: 0;
  margin-top: 30px;
  margin-bottom: 0;
  list-style: none;
}

.item {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.arrow {
  vertical-align: middle;
}

.item-text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 18px;
  text-transform: capitalize;
}
