.about {
  padding-top: 120px;
  padding-bottom: 120px;

  @include sm-down {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.image-first {
  @include sm-down {
    display: none;
  }
}

.image-last {
  display: none;

  @include sm-down {
    display: block;
    max-width: 300px;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
  }
}

.about-info {
  max-width: 500px;
  margin-left: 40px;

  @include sm-down {
    margin-left: 0;
    text-align: center;
  }
}

.text {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.75;

  @include sm-down {
    margin-top: 15px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  margin-top: 95px;
  margin-bottom: 0;
  list-style: none;

  @include sm-down {
    margin-top: 45px;
  }
}

.item {
  height: 416px;
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
  background: #f4f5fb;

  @include sm-down {
    height: 380px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.item-container {
  display: flex;
  align-items: center;
}

.item-image {
  margin-right: 20px;
}

.item-title {
  max-width: 180px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.45;
  color: #000;
}

.item-text {
  max-width: 250px;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.7;
  text-align: start;
  text-transform: capitalize;

  @include sm-down {
    margin-top: 15px;
  }
}
