.optimized {
  position: relative;
  padding-top: 110px;
  padding-bottom: 120px;
  overflow: hidden;

  @include sm-down {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
}

.packages-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  justify-content: center;
  margin-top: 75px;

  @include sm-down {
    flex-direction: column;
  }
}

.package {
  position: relative;
  padding: 55px 20px 60px 25px;
  background: #fff;
  box-shadow: 0 6px 50px rgb(200 0 200 / 4%);

  &::before {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border-right: 45px solid transparent;
    border-bottom: 45px solid #c800c8;
    border-left: 45px solid transparent;
    opacity: 0.1;
  }

  &:nth-of-type(1) {
    &::before {
      top: 0;
      left: 0;
      transform: rotate(-180deg);
    }
  }

  &:nth-of-type(2) {
    &::before {
      top: 110px;
      right: -23px;
      transform: rotate(-90deg);
    }
  }

  &:nth-of-type(3) {
    &::before {
      top: 0;
      right: 0;
      transform: rotate(-180deg);
    }
  }
}

.package-title {
  max-width: 220px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.4;
  color: #000;
  text-transform: capitalize;
}

.price {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
}

.list {
  padding-left: 25px;
  margin-top: 20px;
  margin-bottom: 0;
  list-style: none;
}

.item {
  position: relative;
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.3;
}

.arrow {
  position: absolute;
  left: -25px;
  vertical-align: middle;
}
