.footer {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #f4f5fb;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #9497a1;

  @include sm-down {
    flex-direction: column;
    justify-content: center;
  }
}

.wrapper-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include sm-down {
    align-items: center;
    order: 1;
  }
}

.logo-mobile {
  display: none;

  @include sm-down {
    display: block;
    max-width: 156px;
    margin-right: auto;
    margin-left: auto;
  }
}

.logo {
  max-width: 156px;

  @include sm-down {
    display: none;
  }
}

.social-title {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 19px;
  font-weight: 700;
  color: #000;
  text-align: center;

  @include sm-down {
    display: none;
  }
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
  max-width: 130px;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  list-style: none;

  @include sm-down {
    max-width: 400px;
    margin-top: 40px;
  }
}

.list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  list-style: none;

  @include sm-down {
    flex-direction: column;
  }
}

.item {
  margin-left: 100px;

  &:first-child {
    margin-left: 0;
  }

  @include sm-down {
    margin-top: 30px;
    margin-left: 0;
  }
}

.item-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.link {
  display: block;
  margin-top: 20px;
  color: #000;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: #c800c8;
  }
}

.address {
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 0;
  color: #000;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  text-align: center;

  @include sm-down {
    flex-direction: column-reverse;
    text-align: start;
  }
}

.copyright {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;

  @include sm-down {
    margin-top: 20px;
    font-size: 12px;
  }
}

.text-wrapper {
  display: flex;
  align-items: center;
}

.privacy-text {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;

  @include sm-down {
    font-size: 12px;
  }
}

.terms-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 95px;
  color: #000;

  @include sm-down {
    margin-left: 15px;
    font-size: 12px;
  }
}
