.clients {
  padding-bottom: 90px;
  margin-top: 100px;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
